:root {
  --neon: #00ffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: var(--neon);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  min-height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px;
  border-radius: 25px;
  border: 2px solid var(--neon);
  -moz-box-shadow: 2px 0px 30px 5px rgba(0, 255, 255, 1);
  -webkit-box-shadow: 2px 0px 30px 5px rgba(0, 255, 255, 1);
  box-shadow: 2px 0px 30px 5px rgba(0, 255, 255, 1);
}

.live-solution {
  height: 100px;
  width: 300px;
  text-align: end;
  padding-top: 25px;
  font-size: 50px;
  border: 2px solid var(--neon);
  border-radius: 25px;
  overflow: hidden;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  display: flex;
  width: 300px;
  gap: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  flex: 1;
  height: 50px;
  border: 2px solid var(--neon);
  background-color: inherit;
  color: var(--neon);
  cursor: pointer;
  border-radius: 50px;
  font-size: 20px;
}

button:hover,
.operator {
  background-color: var(--neon);
  color: black;
}

button:hover {
  transition: 0.5s;
}

.double-width {
  flex: 2;
}
